/* universal selector */
/* * {
    background-color: cyan;
} */

body {
    background-color: #fefae0;
}

/* element selector */
button {
    font-size: 30px;
    background-color: #83c5be;
}

/* selector list(2 element selector) */
h1, h2 {
    color: #780000;
}

/* ID selector */
#signup {
    background-color: #231347;
    color: #f2e8cf;
}

span {
    color: #0b2545;
}

/* class selector */
.post a {
    color: #00607a;
    font-weight: 700;
    text-decoration: none;
}

.tag {
    background-color: #333d29;
    color: #ffe8d6;
    font-size: 16px;
}

/* descendant selector */
span a {
    color: #0b2545;
}

footer a {
    color: #6c584c;
}

/* adjacent selector */
h2 + button {
    font-size: 20px;
    background-color: lightpink;
}

/* direct child selector */
footer > a {
    color: #00607a;
}

/* attribute selector */
input[type="password"] {
    color: #780000;
}

/* section[class="post"] {
    background-color: purple;
} */

a[href="www.google.com"] {
    color: magenta;
}

/* -------------pseudo class-------------- */

/* :hover */

/* .post button:hover {
    background-color: #d62828;
    color: #f2e8cf;
} ----------posted below on line 133------------*/

.post a:hover {
    text-decoration: underline;
}

/* :active */

.post button:active {
    background-color: palegreen;
}

/* :nth-of-type() */

.post:nth-of-type(3n) {
    background-color: #d6d3bc;
}

/* ------------------pseudo elements------------------- */

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #f0df73;
}

/* In css cascade , the order your styles are declared in and linked to matters like
    h1 {
        color: red;
    }

    h1 {
      color: purple;
    }
    --------------purple wins-----------
*/

h1,h2 {
    color:palevioletred;
}

/* ---------------Specificity occurs when a conflict catched-------------- */

/* .post button:hover is the more specific selector as compared to button:hover . But on signup button there is no changes beacuse
    ID selector is more specific selector from others. */

.post button:hover {
    background-color: #d62828;
    color: #f2e8cf;
}

button:hover {
    background-color: olive;
    font-size: 10px;
}
