h2 {
    color: #0E367C;  /* rgb(14,54,124) */
    background-color: rgb(255, 200, 200);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}

body {
    background-color: #cc55ee /* we can also write (#c5e)*/;
}