body {
    color: purple;
}

h1 {
    color: blue;
}

section {
    color:brown;
}

form {
    color: green                                                                        ;
}

button , input{
    color: inherit;
}

